@using Octopus.Models
@model  IEnumerable<Octopus.Models.VW_Statistics>
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}
<!-- pageContent -->
<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 40px 0;">
        <h3 class="text-center tittles">INGRESOS ÚLTIMOS MES</h3>
        <!-- Tiles -->
        @foreach (var item in Model)
        {
           <a href="@Url.Action("List", @item.Tipo)" class="full-width">
            <article class="full-width tile">
                <div class="tile-text">
                    <span class="text-condensedLight">
                        @Html.DisplayFor(modelItem => item.CANTIDAD)
                        <br>
                        <small>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </small>
                    </span>
                </div>
                <i class="zmdi zmdi-account tile-icon"></i>
            </article>
           </a>
        }
    </section>
</section>
